<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutPaymentBooster>
            <version>2.0.0</version>
        </Bold_CheckoutPaymentBooster>
    </modules>
    <global>
        <blocks>
            <bold_checkout_payment_booster>
                <class>Bold_CheckoutPaymentBooster_Block</class>
            </bold_checkout_payment_booster>
        </blocks>
        <models>
            <bold_checkout_payment_booster>
                <class>Bold_CheckoutPaymentBooster_Model</class>
                <resourceModel>bold_checkout_payment_booster_resource</resourceModel>
            </bold_checkout_payment_booster>
            <bold_checkout_payment_booster_resource>
                <class>Bold_CheckoutPaymentBooster_Model_Resource</class>
                <deprecatedNode>bold_checkout_payment_booster_mysql4</deprecatedNode>
                <entities>
                    <order>
                        <table>bold_checkout_payment_booster_order</table>
                    </order>
                    <quote>
                        <table>bold_checkout_payment_booster_quote</table>
                    </quote>
                </entities>
            </bold_checkout_payment_booster_resource>
        </models>
        <resources>
            <bold_checkout_payment_booster_setup>
                <setup>
                    <module>Bold_CheckoutPaymentBooster</module>
                </setup>
            </bold_checkout_payment_booster_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <bold>
                        <class>Bold_CheckoutPaymentBooster_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <checkout_submit_all_after>
                <observers>
                    <bold>
                        <class>Bold_CheckoutPaymentBooster_Observer_CheckoutObserver</class>
                        <method>afterSaveOrder</method>
                    </bold>
                </observers>
            </checkout_submit_all_after>
            <!-- TM_FireCheckout -->
            <controller_action_predispatch_firecheckout_index_index>
                <observers>
                    <bold>
                        <class>Bold_CheckoutPaymentBooster_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold>
                </observers>
            </controller_action_predispatch_firecheckout_index_index>
            <checkout_type_onepage_save_order>
                <observers>
                    <bold>
                        <class>Bold_CheckoutPaymentBooster_Observer_CheckoutObserver</class>
                        <method>beforeSaveOrder</method>
                    </bold>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <routers>
            <checkoutpaymentbooster>
                <use>standard</use>
                <args>
                    <module>Bold_CheckoutPaymentBooster</module>
                    <frontName>checkoutpaymentbooster</frontName>
                </args>
            </checkoutpaymentbooster>
        </routers>
        <layout>
            <updates>
                <checkoutpaymentbooster>
                    <file>bold/checkout.xml</file>
                </checkoutpaymentbooster>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_checkout>
                <observers>
                    <save_shop_info>
                        <class>Bold_CheckoutPaymentBooster_Observer_ConfigObserver</class>
                        <method>saveShopInfo</method>
                    </save_shop_info>
                    <set_rsa_config>
                        <class>Bold_CheckoutPaymentBooster_Observer_ConfigObserver</class>
                        <method>setRsaConfig</method>
                    </set_rsa_config>
                </observers>
            </admin_system_config_changed_section_checkout>
        </events>
    </adminhtml>
    <default>
        <checkout>
            <bold_checkout_payment_booster>
                <is_payment_booster_enabled>0</is_payment_booster_enabled>
                <is_fastlane_enabled>0</is_fastlane_enabled>
            </bold_checkout_payment_booster>
            <bold_checkout_payment_booster_advanced>
                <api_url>https://api.boldcommerce.com/</api_url>
                <eps_url>https://eps.secure.boldcommerce.com/</eps_url>
                <eps_static_url>https://static-eps.secure.boldcommerce.com/</eps_static_url>
                <weight_conversion_rate>1000</weight_conversion_rate>
                <fastlane_email_container_styles>width: 365px</fastlane_email_container_styles>
                <is_log_enabled>0</is_log_enabled>
            </bold_checkout_payment_booster_advanced>
        </checkout>
        <payment>
            <bold>
                <model>Bold_CheckoutPaymentBooster_Model_Payment_Bold</model>
                <active>1</active>
                <title>Bold Payments</title>
            </bold>
            <bold_fastlane>
                <model>Bold_CheckoutPaymentBooster_Model_Payment_Fastlane</model>
                <active>1</active>
                <title>Credit Card</title>
            </bold_fastlane>
        </payment>
        <web>
            <routers>
                <bold>
                    <class>Bold_CheckoutPaymentBooster_Model_Router</class>
                </bold>
            </routers>
        </web>
    </default>

    <rest>
        <V1>
            <shops>
                <_shopIdentifier>
                    <orders>
                        <_publicOrderId>
                            <payments>
                                <POST>
                                    <handler>Bold_CheckoutPaymentBooster_Api_Order_Payment::update</handler>
                                </POST>
                            </payments>
                        </_publicOrderId>
                    </orders>
                </_shopIdentifier>
            </shops>
        </V1>
    </rest>
</config>
