<?xml version="1.0"?>
<config>
    <modules>
        <Bold_CheckoutPaymentBooster>
            <version>2.0.0</version>
        </Bold_CheckoutPaymentBooster>
    </modules>
    <global>
        <blocks>
            <bold_checkout_payment_booster>
                <class>Bold_CheckoutPaymentBooster_Block</class>
            </bold_checkout_payment_booster>
        </blocks>
        <models>
            <bold_checkout_payment_booster>
                <class>Bold_CheckoutPaymentBooster_Model</class>
                <resourceModel>bold_checkout_payment_booster_resource</resourceModel>
            </bold_checkout_payment_booster>
            <bold_checkout_payment_booster_resource>
                <class>Bold_CheckoutPaymentBooster_Model_Resource</class>
                <deprecatedNode>bold_checkout_payment_booster_mysql4</deprecatedNode>
                <entities>
                    <order>
                        <table>bold_checkout_payment_booster_order</table>
                    </order>
                </entities>
            </bold_checkout_payment_booster_resource>
        </models>
        <resources>
            <bold_checkout_payment_booster_setup>
                <setup>
                    <module>Bold_CheckoutPaymentBooster</module>
                </setup>
            </bold_checkout_payment_booster_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <bold>
                        <class>Bold_CheckoutPaymentBooster_Observer_CheckoutObserver</class>
                        <method>beforeCheckout</method>
                    </bold>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <bold>
                        <class>Bold_CheckoutPaymentBooster_Observer_CheckoutObserver</class>
                        <method>afterSaveBilling</method>
                    </bold>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <controller_action_postdispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <bold>
                        <class>Bold_CheckoutPaymentBooster_Observer_CheckoutObserver</class>
                        <method>afterSaveShippingMethod</method>
                    </bold>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShippingMethod>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_checkout>
                <observers>
                    <set_shop_identifier>
                        <class>Bold_CheckoutPaymentBooster_Observer_ConfigObserver</class>
                        <method>setShopId</method>
                    </set_shop_identifier>
                </observers>
            </admin_system_config_changed_section_checkout>
        </events>
    </adminhtml>
    <default>
        <checkout>
            <bold_checkout_payment_booster>
                <is_payment_booster_enabled>0</is_payment_booster_enabled>
                <is_fastlane_enabled>0</is_fastlane_enabled>
            </bold_checkout_payment_booster>
            <bold_checkout_payment_booster_advanced>
                <api_url>https://api.boldcommerce.com/</api_url>
                <weight_conversion_rate>1000</weight_conversion_rate>
                <is_log_enabled>0</is_log_enabled>
            </bold_checkout_payment_booster_advanced>
        </checkout>
    </default>
</config>
